@model IEnumerable<CosStay.Model.AccomodationVenue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.TrimmedActionLink("Create New", "Create", (CosStay.Model.AccomodationVenue)null)
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowsBedSharing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowsMixedRooms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowsBedSharing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowsMixedRooms)
        </td>
        <td>
            @Html.TrimmedActionLink("Edit", "Edit", item, new { id=item.Id }, true) |
            @Html.TrimmedActionLink("Details", "Details", item, new { id = item.Id, name = item.Name }, true) |
            @Html.TrimmedActionLink("Delete", "Delete", item, new { id = item.Id }, true)
        </td>
    </tr>
}

</table>
