@using CosStay.Site.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">

    <div class="col-md-6">
        @*@using (Html.BeginForm("UpdateDetails", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
        @Html.AntiForgeryToken()    
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        }*@
        <p>&nbsp;</p>
        @Html.Action("UserPropertiesList")
        <section id="externalProperties">
            <br />
            @*Html.Action("ExternalUserPropertiesList")*@
        </section>

    </div>
    <div class="col-md-6">
        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new CosStay.Site.LoginActionParameters { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
