@model CosStay.Site.Models.EventInstanceViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<h3><a href="@Model.Url">@Model.Url</a></h3>
<div>
    <h4>@Model.Description</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenueName)
        </dd>

    </dl>

    <div id="map-canvas" style="height: 400px;">

    </div>
        <div id="mini-clndr">
            <script id="mini-clndr-template" type="text/template">

                <div class="controls">
                    <div class="clndr-previous-button">&lsaquo;</div><div class="month"><%= month %> <%= year %></div><div class="clndr-next-button">&rsaquo;</div>
                </div>

                <div class="days-container">
                    <div class="days">
                        <div class="headers">
                            <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
                        </div>
                        <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
                    </div>
                </div>

            </script>
        </div>

        <p>Attending? @Model.CurrentUserAttending</p>
        <p>@Model.FriendsAttending</p>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/clndr.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB21AFsFMbmFCkYKe7ZrBN46p7Rop-twLY&sensor=false">
</script>
    @if(Model.VenueLatLng != null){
<script type="text/javascript">
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(@Model.VenueLatLng.Lat , @Model.VenueLatLng.Lng),
            zoom: 16
        };

        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var accomodationMarker = new google.maps.Marker({
            position: new google.maps.LatLng(@Model.VenueLatLng.Lat , @Model.VenueLatLng.Lng),
            map: map,
            title:"@Model.Name.Replace("\"", "\\\"")"
        })
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
    }
    <script>
        $(function () {
            var events = [
  { startDate: '@Model.StartDate.ToString("yyyy-MM-dd")', endDate: '@Model.EndDate.ToString("yyyy-MM-dd")', title: '@Model.Name', location: '@Model.Location' }
            ];
            var cal = $('#mini-clndr').clndr({
                template: $('#mini-clndr-template').html(),
                events: events,  
                multiDayEvents: {
                    startDate: 'startDate',
                    endDate: 'endDate'
                },

                adjacentDaysChangeMonth: false,
                startWithMonth: events[0].startDate
            });

        });
  </script>
}