@model IEnumerable<CosStay.Model.EventInstance>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<p>
    @Html.TrimmedActionLink("Create New", "Create", (CosStay.Model.EventInstance)null)
</p>

@foreach (var item in Model)
{
    <section class="tile" style="background-image: url('@item.MainImageUrl')">

        <div class="tile-heading">
            <header>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id, name = (ViewContext.Controller as CosStay.Site.Controllers.BaseController).SafeUri(item.Name) })
            </header>
            <p>
                @item.StartDate.ToString("MMMM dd") @if (item.StartDate.Date != item.EndDate.Date)
                {<text>
                    - @item.EndDate.ToString("MMMM dd")
                </text>}<br />
                Starts at @item.StartDate.ToShortTimeString(). Ends at @item.EndDate.ToShortTimeString().
            </p>

        </div>

        <p>
            @Html.TrimmedActionLink("Edit", "Edit", item, new { id = item.Id })
        </p>
</section>
}
<div class="clearfix"></div>
