@model IEnumerable<CosStay.Model.EventInstance>

@{
    ViewBag.Title = "Index";
}

<h2>Events</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model) {
    <section class="panel panel-default">
        <header class="panel-heading">
            @Html.ActionLink(item.Name, "Details", new { id = item.EventInstanceId, name = (ViewContext.Controller as CosStay.Site.Controllers.BaseController).SafeUri(item.Name) })
        </header>
        <div class="panel-body">
            <p>
                @Html.DisplayFor(modelItem => item.Description)
            </p>
            <p>
                From @Html.DisplayFor(modelItem => item.StartDate.Date)
                until @Html.DisplayFor(modelItem => item.EndDate.Date)
            </p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventInstanceId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventInstanceId })
            </p>
        </div>
    </section>
}

