@model CosStay.Site.Models.EventInstanceUpdateStatusViewModel

@{
    ViewBag.Title = "UpdateFromFacebook";
}

<h2>Update From Facebook</h2>

<div>
    <h4>@Model.Event_Database.Name</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated_Database)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated_Database)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated_Facebook)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated_Facebook)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Current</th>
                <th>Updated</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Name</th>
                <td>@Html.DisplayFor(model => model.Event_Database.Name)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.Name)</td>
                <td>@Html.EditorFor(model => model.UpdateName)</td>
            </tr>
            <tr>
                <th>URL</th>
                <td>@Html.DisplayFor(model => model.Event_Database.Url)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.Url)</td>
                <td>@Html.EditorFor(model => model.UpdateUrl)</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@Html.DisplayFor(model => model.Event_Database.Description)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.Description)</td>
                <td>@Html.EditorFor(model => model.UpdateDescription)</td>
            </tr>
            <tr>
                <th>Cover Image</th>
                <td><img src="@Model.Event_Database.MainImageUrl" /></td>
                <td><img src="@Model.Event_Facebook.MainImageUrl" /></td>
                <td>@Html.EditorFor(model => model.UpdateCoverImage)</td>
            </tr>
            <tr>
                <th>Venue Name</th>
                <td>@Html.DisplayFor(model => model.Event_Database.VenueName)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.VenueName)</td>
                <td>@Html.EditorFor(model => model.UpdateVenue)</td>
            </tr>
            <tr>
                <th>Venue Location</th>
                <td>@Html.DisplayFor(model => model.Event_Database.VenueLatLng)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.VenueLatLng)</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>@Html.DisplayFor(model => model.Event_Database.Address)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.Address)</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>@Html.DisplayFor(model => model.Event_Database.Location)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.Location)</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>@Html.DisplayFor(model => model.Event_Database.StartDate)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.StartDate)</td>
                <td>@Html.EditorFor(model => model.UpdateStart)</td>
            </tr>
            <tr>
                <th>End</th>
                <td>@Html.DisplayFor(model => model.Event_Database.EndDate)</td>
                <td>@Html.DisplayFor(model => model.Event_Facebook.EndDate)</td>
                <td>@Html.EditorFor(model => model.UpdateEnd)</td>
            </tr>
        </tbody>
    </table>
        <input type="submit" value="Submit"/>
    }
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
